p{
    border-style: solid;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  word-wrap: break-word;
}
h1{
    text-align: center;
    color:crimson;
    text-shadow:2px 2px white;
}
h2{
    color:white;
    text-shadow:2px 2px crimson;
    text-align: center;
}
h1.a{
    text-align: center;
    color:white;
    text-shadow:2px 2px crimson;
}
.alfa{
    background-color:blue;
}
ul {
  list-style-type: none;
}
ol {
  list-style-type:none;
  list-style-position: inside;
  border-style: solid;
  margin-left: 4%;
  margin-right: 4%;
}

ul>li {
    background: #f7f1f1;
    margin-top: 35px;
    margin-right: 20%;
    text-align: center;
  }
  
body{
    background-color: rgb(156, 188, 247);
    font-family: 'Girassol', cursive;
}
.tabela{
    border-style: solid;
    width: 220px;
    margin-left: 45%;
}
aside{
    text-align: left;
    color: white;
    text-shadow:2px 2px grey;
}
aside img{
    padding-left: 42%;;
}

footer{

    text-align: center;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    
    height:initial;
    width:100%;
}

footer img{
    padding-left:10%;
}
.classe{
    padding-top: 2%;
    padding-left: 4%;
    text-align: center;
}
form {
    background-color: rgb(94, 141, 228);
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}

#Secundario {
    background: linear-gradient(45deg, blue,purple)
}
